<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> django-two-shot  </title>
</head>
<header>
    <nav>
        <ul>{% if user.is_authenticated %}
            <li><a href="{%url 'create_account' %}">create account</a></li>
            <li><a href="{%url 'create_category' %}">create category</a></li>
            <li><a href="{%url 'logout' %}">Logout</a></li>
            <li><a href="{%url 'home' %}">Home</a></li>
            <li><a href="category_list">category</a></li>
            <li><a href="account_list">account</a></li>
            <li><a href="create_receipt">create receipt</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock content %}
    
</body>
</html>
