{% extends 'base.html' %}


{% block content %} 
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
        </thead>
        <tbody>
            {% for receiptes in receipte %}
            <tr>
                <td>{{receiptes.vendor}}</td>
                <td>{{receiptes.total}}</td>
                <td>{{receiptes.tax}}</td>
                <td>{{receiptes.category}}</td>
                <td>{{receiptes.date|date:"m/d/y"}}</td>
                <td>{{receiptes.account}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %} 
