{% extends 'base.html' %}
{% block content %}

<main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for categories in category_list %}
                <tr>
                    <td>{{ categories.name }}</td>
                    <td>{{ categories.receipts.all.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</main>

{% endblock content %}
